
body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 15px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

#dataTable {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}

#dataTable thead th {
  background: #5e0679;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  position: sticky;
  top: 0;
  white-space: nowrap;
}

#dataTable td {
  padding: 8px;
  font-size: 11px;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#dataTable tbody tr:nth-child(even) {
  background: #f5f5f5;
}

#dataTable tbody tr:hover {
  background: #eef6ee;
}

.loading {
  text-align: center;
  margin-top: 30px;
}
tr {
  font-size: 8pt;
}

/* Clickable Event ID */
td.event-id {
  color: #2e7d32;
  font-weight: 600;
  cursor: pointer;
}

td.event-id:hover {
  text-decoration: underline;
}

td.copied {
  background: #e8f5e9;
  color: #1b5e20 !important;
  font-weight: 700;
  text-align: center;
}

td {
  transition: all 0.2s ease;
}
